.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

.u-section-1 .u-list-1 {
  width: 279px;
  margin: 55px auto 55px 291px;
}

.u-section-1 .u-repeater-1 {
  min-height: 250px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  background-image: none;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(219, 83, 75);
  background-image: none;
}

.u-section-1 .u-text-1 {
  margin: -44px -268px 0 83px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-social-icons-2 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  text-align: start;
  background-image: none;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  background-image: none;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: -44px -268px 0 83px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-social-icons-3 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  text-align: start;
  background-image: none;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  background-image: none;
  color: currentcolor !important;
}

.u-section-1 .u-text-3 {
  text-align: start;
  margin: -44px -268px 0 83px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
    min-height: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-left: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-left: 15px;
  }
}